# venv
.venv/
venv/
env/

# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# django
*.log
local_settings.py
db.sqlite3
media/

# ide
.vscode/
.idea/

# node
node_modules/

# producao
.env.production
.env.local
.env.*.local

# build vue
dist/

# outros
.DS_Store
*.swp
